/* * {
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
} */
/* .first{
    width: 300px;
} */
/* .Ammu{
    width: 300px;
    height: 400px;
    background-image: url(img/hustlers/Amulya.jpeg);
    /* object-fit: cover; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: top ; */
/* } */
/* .Abhi-Ram{
    width: 300px;
    height: 400px;
    background-image: url(img/hustlers/Abhi_Ram.jpeg);
    background-size: cover;
    background-position: top;
} */ 
.image{
    float: left;
    width:  300px;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;
}
