<!-- <html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <div class="wrapper">
        <h1>"hello world"</h1>
        <div class="Ammu"></div>
        <div class="Abhi-Ram"></div>
        <img class="first" src="img/hustlers/Amulya.jpeg" alt="img's not loading!">
        </div>
    </body>
</html> --> -->
<html>
    <head>
        <link rel="stylesheet" href="../static/assets/css/img.css">
    </head>
    <body>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Amulya.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Abhi_Ram.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Chandana.jpg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Akshaya.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Govind.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Vandana.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Venkata_Rama.jpeg);"></div>
      <div class="image" style="background-image:url(../static/assets/img/hustlers/Manju.jpeg);"></div>
    </body>
</html>
<!-- <html>
    <head>
        <style>
            .youuu{
                height: 200px;
                width:300px;
            }
        </style>
    </head>
    <body>
        <h1>"hello world"</h1>
        <img class="youuu"src="../static/assets/img/hustlers/Amulya.jpeg" alt="Ammu">
    </body>
</html> -->