<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hustle 24/7</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/css/style2.css">
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/assets/css/img.css">
</head>

<body>



  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Hustle 24/7</a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#work">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li>

            <a href="https://hustlersride.blogspot.com/2021/04/the-enthusiastic-seekers-readers-are.html"
              target="_blank">Blog
            </a>

          </li>




{#          <li>#}
{#            <button onclick="location.href = 'login';" type="button" class="btn btn-outline-light">Hustler Login#}
{#              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">#}
{#                <path fill-rule="evenodd"#}
{#                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />#}
{#                <path fill-rule="evenodd"#}
{#                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />#}
{#              </svg>#}
{#            </button>#}
{#          </li>#}


        </ul>





        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <div id="hero" class="hero route bg-image" name="Heroo">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">

          <h1 class="hero-title mb-4"><span id="wel-head">Welcome To Hustle 24/7</span></h1>
          <p class="hero-subtitle"><span class="typed"
              data-typed-items="We are Hustlers, We are Enthusiastic Dreamers,We Participate in Hackathons,We Provide Services,We are Developers, We are Designers,We Assure Software Quality"></span>
          </p>

        </div>
      </div>
    </div>
  </div>

  <main id="main">
    <span id="main-modified">

      <section id="about" name="about" class="about-mf sect-pt4 route">

        <div class="container">

          <div class="row">

            <div class="col-sm-12">

              <div class="box-shadow-full">

                <div class="row">
                  <!-- part 1 -->
                  <!-- <div class="col-md-6">

                    

                  </div> -->



                  <!-- part 1 end  -->
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        <span id="sha-1">About Us</span>
                      </h5>
                    </div>
                    <p class="lead">
                    <h5 id="font-fam">Our Vision:</h5><br>
                    <p>Our motto is to expose the projects we have done so far and about to do.
                      Ultimately to enhance the growth and our achievements to become the prime performers.</p><br>
                    <h5 id="font-fam">Our Commitment:</h5><br>
                    <p>We can go into a near existential crisis and try to sort out the unusual utters,
                      issues, and complications in the real world and can come up with some unique solutions. so our
                      team can have a chance to be hired and leave some options to the clients.</p><br>
                    <br>
                    <h5 id="font-fam">Our Morality and Principles</h5><br>
                    <ul>

                      <li>
                        <p>Monitor progress and act on triggers.</p>
                      </li>
                      <li>
                        <p>Keep it simple and get the perfect outcome.</p>
                      </li>
                      <li>
                        <p>Amuse oneself into the project.</p>
                      </li>
                      <li>
                        <p>To be open and collaborative with the new people around.</p>
                      </li>
                      <li>
                        <p>Dauntless bravery attempts to crack our goals.</p>
                      </li>
                      <li>
                        <p>Share the conceptions and make friends, stake with the resources.</p>
                      </li>

                    </ul>

                    </p>
                  </div>
                  <!-- part 2 -->
                  <!-- <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          <span id="sha-1">About Us</span>
                        </h5>
                      </div>
                      <p class="lead">
                      <h3 style="text-align: center">Perception of Hustle Group</h3>
                      <h5>Our Vision:</h5><br>
                      <p id="font-fam">Our motto is to expose the projects we have done so far and about to do.
                        Ultimately to enhance the growth and our achievements to become the prime performers.</p><br>
                      <h5>Our Commitment:</h5><br>
                      <p id="font-fam">We can go into a near existential crisis and try to sort out the unusual utters,
                        issues, and complications in the real world and can come up with some unique solutions. so our
                        team can have a chance to be hired and leave some options to the clients.</p><br>
                      <br>
                      <h5>Our Morality and Principles</h5><br>
                      <ul>

                        <li>
                          <p id="font-fam">Monitor progress and act on triggers.</p>
                        </li>
                        <li>
                          <p id="font-fam">Keep it simple and get the perfect outcome.</p>
                        </li>
                        <li>
                          <p id="font-fam">Amuse oneself into the project.</p>
                        </li>
                        <li>
                          <p id="font-fam">To be open and collaborative with the new people around.</p>
                        </li>
                        <li>
                          <p id="font-fam">Dauntless bravery attempts to crack our goals.</p>
                        </li>
                        <li>
                          <p id="font-fam">Share the conceptions and make friends, stake with the resources.</p>
                        </li>

                      </ul>

                      </p>
                    </div>
                  </div> -->
                  <!-- part 2 END -->



                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </span>




    <section id="services" class="c-section" name="services">
      <h2 class="c-section__title"><span>Our Services</span></h2>
      <ul class="c-services">

        <li class="c-services__item">
          <h3>Responsive Web Design</h3>
          <p>We leverage the concept of mobile-first design. Through our work, we focus on designing an experience that
            works across different screen sizes.</p>
        </li>
        <li class="c-services__item">
          <h3>Flutter Development</h3>
          <p>We leverage the concept of mobile-first design. Through our work, we focus on designing an experience that
            works across different screen sizes.</p>
        </li>


        <li class="c-services__item">
          <h3>Back End Development</h3>
          <p>We leverage the concept of mobile-first design. Through our work, we focus on designing an experience that
            works across different screen sizes.</p>
        </li>

        <li class="c-services__item">
          <h3>Front End Development</h3>
          <p>We are Front End masters with a deep focus on HTML, CSS. The result of our work is a responsive,
            accessible, and performant websites. Either you have the design ready and want us to code it, or you want us
            to do both design and code, we&rsquo;re happy to do so.</p>
        </li>
        <li class="c-services__item">
          <h3>Unit Testing</h3>
          <p>To reach more customers and the goals of your business, a mobile application is necessary these days. We
            will work on the app design from scratch to final tested prototype.</p>
        </li>
        <li class="c-services__item">
          <h3>UX Consultation</h3>
          <p>If you don&rsquo;t know what kind of service to request from us, don&rsquo;t worry. We can help and see
            what fits your business and your budget.</p>
        </li>

      </ul>

    </section>

    <section id="work" class="c-section2" name="work">
      <h2 name="puchaakaiii">Hustlers</h2>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/60106386?v=4" alt="Jiya" style="width:100%">
              <h1>Jiya Ull Haq</h1>
              <p class="title">Founder, Lead & Mentor</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button onclick="location.href='https://wa.me/917981186029'">Contact</button></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img
                src="https://media-exp1.licdn.com/dms/image/C5603AQGRbHV4gPOPuw/profile-displayphoto-shrink_400_400/0/1603697143605?e=1625097600&v=beta&t=pDFr4TxY8xzZBGC-xOkAALbbxTj8gmQCLJB2R390WGU"
                alt="Sameera" style="width:100%">
              <h1>Harsha Sri Sameera</h1>
              <p class="title">Research Team | QA Lead</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img src="../static/assets/img/hustlers/Vyshnavi.jpeg" alt="vyshnavi" style="width:100%">
              <h1 name="bloomberg">Vyshnavi</h1>
              <p class="title">Research Team | Blog Writer</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img src="../static/assets/img/hustlers/pallav.jpeg" alt="pallavi" style="width:100%">
              <h1 name="bloomberg">Pallavi</h1>
              <p class="title">Research Team</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Akshaya.jpeg" alt="Akshaya" style="width:100%">
              <h1 name="bloomberg">Akshaya</h1>
              <p class="title">Co-Founder | Research Lead | Mentor</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src=../static/assets/img/hustlers/Abhi_Ram.jpeg alt="Abhi Ram" style="width:100%">
              <h1 name="bloomberg">Abhi Ram</h1>
              <p class="title">Creative | Technical Dev</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Chandana.jpg" alt="Chandana" style="height:50%">
              <h1 name="bloomberg">Chandana</h1>
              <p class="title">Research Team</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Govind.jpeg" alt="Govind" style="height:50%">
              <h1 name="bloomberg">Govind</h1>
              <p class="title">Creative | Technical Dev</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Manju.jpeg" alt="Manju" style="height:50%">
              <h1 name="bloomberg">Manju</h1>
              <p class="title">Creative | Research Team</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Murali.jpg" alt="Murali" style="height:50%">
              <h1 name="bloomberg">Murali</h1>
              <p class="title">Creative | Technical Dev</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Amulya.jpeg" alt="Amulya" style="max-width:100%">
              <h1 name="bloomberg">Amulya</h1>
              <p class="title">Creative & Planning Lead</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Venkata_Rama.jpeg" alt="Venkata Rama" style="height:50%">
              <h1 name="bloomberg">Venkata Rama</h1>
              <p class="title">Technical Lead</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card">
              <img class= "image" src="../static/assets/img/hustlers/Vandana.jpeg" alt="Vandana" style="height:50%">
              <h1 name="bloomberg">Vandana</h1>
              <p class="title">Backend Team</p>
              <p></p>
              <div style="margin: 24px 0;">
                <a name="bloomberg" href="#"><i class="fa fa-dribbble"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-twitter"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-linkedin"></i></a>
                <a name="bloomberg" href="#"><i class="fa fa-facebook"></i></a>
              </div>
              <p><button>Contact</button></p>
            </div>
          </div>
         
        </div>

        <button name="bloomberg" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black"
            class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
          </svg>
          <div class="visually-hidden">Previous</div>
        </button>

        <button name="bloomberg" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path
              d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
          </svg>
          <div class="visually-hidden">Next</div>
        </button>
      </div>

      <!-- <h2 class="c-section__title2"><span>Our Team</span></h2> -->


    </section>

    <!-- END OF TESTIMONIALS -->
    <!-- SERVICE -->
    <!-- <section id="services">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                <span id="sha-2">SERVICES</span>
              </h3>
              <p class="subtitle-a">
                Hustlers 24/7 provides services
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                  Your Choice! Our Work!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Development</h2>
                <p class="s-description text-center">
                  High End Development is provided !! 100%
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-arrow-90deg-up"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">API Building</h2>
                <p class="s-description text-center">
                  High End Development is provided !! 100%
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-app-indicator"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">mobile Apps Development</h2>
                <p class="s-description text-center">
                  High End Development is provided !! 100%
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-arrow-up-left-square-fill"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Blog Writing</h2>
                <p class="s-description text-center">
                  High End Development is provided !! 100%
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-map-fill"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Branding</h2>
                <p class="s-description text-center">
                  High End Development is provided !! 100%
                </p>
              </div>
            </div>
          </div>
    </section> -->

    <!-- <section id="work" class='work'>


      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="width: 18rem; ">
              <img
                src="https://st2.depositphotos.com/2783505/8415/i/600/depositphotos_84158918-stock-photo-passport-picture-of-a-hispanic.jpg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Akshaya</h5>
                <p class="card-text">Frontend Lead</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 18rem;">
              <img
                src="https://st2.depositphotos.com/2783505/8415/i/600/depositphotos_84158918-stock-photo-passport-picture-of-a-hispanic.jpg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Amulya</h5>
                <p class="card-text">Creative Lead</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card" style="width: 18rem;">
              <img
                src="https://st2.depositphotos.com/2783505/8415/i/600/depositphotos_84158918-stock-photo-passport-picture-of-a-hispanic.jpg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Durga Prasad</h5>
                <p class="card-text">Backend Lead</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section> -->

    <!-- CONTACT -->

    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" name="contact">

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Contact Us
                      </h5>
                    </div>
                    <div>
                      <form action="/contact" method="post" role="form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center my-3">
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send
                              Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">

                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                      <p id="more-inf">
                        Want to discuss project Ideas? <br>
                        Anything we can do to help with your projects? <br>
                        Mail Us. <br>

                      </p>
                      </p>

                    </div>
                    <ul class="list-ico">
                      <li><span class="bi bi-envelope"></span> hustle247.clan@gmail.com</li>
                    </ul>


                    <div class="socials">
                      <hr>
                      <ul style="
                      text-align: center;">
                        <a href="https://github.com/Hustle24-7/" target="_blank" class="github">
                          <i class="fa fa-github"></i>
                        </a>

                        <a href="https://github.com/Jiya-Ull-Haq" target="_blank" class="github">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </ul>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>



  </main>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Hustle 24/7</strong>. All Rights Reserved</p>

          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Js -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/typed.js/typed.min.js"></script>
  <!-- Js end -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/index.js"></script>



</body>

</html>
